name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**.md"

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Test on multiple OSes if we want to?
        # need to change runs-on above to be ${{ matrix.os }} too, if so
        # os:
        #   - ubuntu-latest
        #   - macos-latest
        python-version:
          - "3.11"
          # - "3.13" too? min version -> latest stable release?

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Cache tox
        uses: actions/cache@v5
        with:
          path: .tox
          key: tox-${{hashFiles('pyproject.toml') }}

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install dependencies
        run: python -m pip install tox tox-gh

      - name: Install package and run tests
        run: tox run
